.container {
    margin: 0 auto;
    list-style: none;
}

h1 {
    margin-bottom: 50px;
    margin-top: -30px;
}

img {
    margin: 0 auto;
    height: auto;
    width: 100%;

}

h2 {
    font-size: 150%;
    margin: 20px 0;
}

.container li {
    list-style: none;
    margin-left: -40px;
}